html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: 'Neucha', cursive;
	font-size: 1.5rem;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: #D9BFC0;
}
p {
	margin-bottom: 0;
	margin-top: 2rem;
}
section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {
	flex-basis: 33%;
}

fieldset {
	border: 1px solid black;
	border-radius: 10px;
	margin-bottom: 2rem;
}

legend {
	font-family: 'Nosifer', cursive;
 	font-size: 1.5rem;
	margin-top: 1.5rem;
	margin-bottom: 1 rem;
	
}

label {
	display: block;	
}

h1, h3 {
	font-family: 'Nosifer', cursive;
	font-size: 2rem;
}

address {
	padding-bottom: 0.5rem;
}

button {
	border: none;
	background-color: #38353E;
	color: white;
	font-size: 1rem;
}


